html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    font-size: 62.5%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* My Code */
/* Global */
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
}

.wrap{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 800px){
    .wrap{
        margin: 0 15px;
    }
}

@media (max-width: 500px){
    .wrap{
        margin: 0;
    }
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

@media (max-width: 800px){
    nav{
        flex-wrap: wrap;
        padding: 25px 20px;
    }
}

@media (max-width: 500px){
    nav{
        flex-direction: column;
        padding: 0;
    }
}

nav a{
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    transition: .5s ease;
}

@media (max-width: 500px){
    nav a{
        padding: 15px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid gray;
    }
}

@media (max-width: 800px){
    #home{
        order: -1;
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
}

@media (max-width: 500px){
    #home{
        margin-bottom: 0;
    }
}

nav a:hover{
    text-decoration: underline;
    color: black;
}

/* Index Specific */

header.index{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

@media (max-width: 500px){
    header.index{
        height: inherit;
        padding: 50px 0;
    }   
}

header.index .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

header.index .header-text h1{
    font-size: 7rem;
    text-align: center;
}

header.index .header-text button{
    padding: 5px 35px;
    background: white;
    border: 1px black solid;
    cursor: pointer;
}

header.index .header-text button:hover{
    background: black;
    color: white;
}

header.index .header-image{
    background: url(../img/header-img.png) no-repeat center / contain;
    width: 50%;
    height: 77.5%;
}

@media (max-width: 800px){
    header.index .header-image{
        display: none;
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main .top{
    display: flex;
    margin: 25px 0;
}

@media (max-width: 500px){
    .main .top{
        flex-direction: column;
    }   
}

.main .top div{
    padding: 2.5%;
}

.main .middle-img{
    width: 100%;
}

.main .bottom{
    display: flex;
    margin: 25px 0;
}

@media (max-width: 500px){
    .main .bottom{
        flex-direction: column;
    }
}

.main .bottom div{
    padding: 2.5%;
}

.address{
    margin-top: 25px;
    white-space: pre-line;
}

.address p{
    font-size: 1.5rem;
}

footer{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
}

/* Services Specific */
header.services img{
    width: 100%;
}

.intro{
    margin: 25px 0;
}

@media (max-width: 800px){
    .intro{
        width: 75%;
        margin: 25px auto;
    }   
}

.intro h1{
    font-size: 3rem;
}

.main.services{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    border-top: 1px solid black;
}

@media (max-width: 800px){
    .main.services{
        flex-direction: column;
    }
}

.main.services section{
    border: 1px solid black;
    width: 47.5%;
    padding: 15px;
    margin: 20px 0;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 800px){
    .main.services section{
        width: 75%;
        align-items: center;
    }
}


.main.services section a{
    text-decoration: none;
    padding: 7px 30px;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0 0;
    transition: .5s ease;
}

.main.services section a:hover{
    background: black;
    color: white;
}

.bottom.services{
    width: 100%;
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .bottom.services{
        flex-direction: column;
        align-items: center;
    }
}

.bottom.services section{
    width: 45%;
}

@media (max-width: 800px){
    .bottom.services section{
        width: 75%;
    }
}

.bottom.services section ul{
    margin: 1rem 0;
}

.bottom.services section ul li{
    font-size: 1.5rem;
    line-height: 2;
    list-style-type: square;
    list-style-position: inside;
}

.bottom.services .services-img{
    width: 45%;
    background: url(../img/services-info.png)no-repeat center / contain;
}

@media (max-width: 800px){
    .bottom.services .services-img{
        width: 100%;
        height: 275px;
        order: -1;
        margin-bottom: 25px;
    }
}

footer{
    width: 100%;
    text-align: center;
}
