html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*Global*/
@font-face{
	font-family: Tangerine;
	src: url('https://fonts.gstatic.com/s/tangerine/v10/IurY6Y5j_oScZZow4VOxCZZM.woff2');
}
@keyframes button{
	50%{
		border-radius: 50%;
		padding: 20px;
		border: 1.5px dashed black;
	}
	to{
		transform: rotate(360deg);
	}
}
h1, h2{
	font-weight: bold;
}
div{
	box-sizing: border-box;
}
.wrap{
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
}
.main{
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid grey;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
	padding-top: 25px;
}
@media(max-width: 500px){
    .main{
        border-top: 0px;
        padding-top: 75px;
    }
}

/*Nav*/
div.global-top{
	width: 100%;
	background: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
@media(max-width: 800px){
    div.global-top{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }    
}
@media(max-width: 500px){
    div.global-top{
        padding: 0px;
    }
}

nav{
    margin: 10px 0 0;
}

nav a{
	margin: 0px 20px 0px;
	color: gray;
	text-decoration: none;
}
@media(max-width: 800px){
    nav{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav a{
        margin: 0px;
    }
}
@media(max-width: 500px){
    nav{
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid grey;
    }
    nav a{
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid grey;
    }
}

/* Great Idea Div Wrap */
@media(max-width: 800px){
    .glimwrap{
      order: 0;
      width: 100%;
      padding: 0 0 30px;
    }
}
@media(max-width: 500px){
    .glimwrap{
        padding: 10px;
    }   
}

.global-top div.global-img{
	height: 36px;
	width: 183px;
	margin: 0px;
	background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width: 800px){
    .global-top div.global-img{
        width: 100%;
    }
}

/*Header*/
header{
	margin: 0px 0px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
@media(max-width: 800px){
    header{
        justify-content: center;
    }
}
@media(max-width: 500px){
    header{
        border-bottom: 1px solid black;
        width: 95%;
    }
}

header.index{
	height: 300px;
}

header .header-text{
	width: 350px;
	height: 250px;
	margin: 0px 0px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
header h1{
	font-size: 60px;
}
@media(max-width: 800px){
    header h1{
        font-size: 65px;
    }
}

header button{
	background: white;
	border: 1px solid black;
	padding: 2.5px 20px;
}
@media(max-width: 800px){
    header button{
        padding: 5px 35px;
    }
}

header button:hover{
	animation: button 5s linear 0s infinite normal;
}
header .header-image{
	width: 400px;
	height: 250px;
	display: flex;
	align-items: center;
	background-image: url('../img/header-img.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}
@media(max-width: 800px){
    header div.header-image{
        display: none;
    }
}

/*Top-Main + Mid Img*/
.top{
	width: 100%;
	height: 125px;
	display: flex;
	justify-content: center;
}
@media(max-width: 500px){
    .top{
        flex-direction: column;
        align-items: center;
        margin: 60px 0;
    }
}

.top div{
	width: 50%;
}
@media(max-width: 500px){
    .top div{
        width: 90%;
        padding: 15px 0;
        margin-bottom: 30px;
    }    
}

.top h2{
	margin-bottom: 15px;
}
.top div p{
	font-family: Tangerine;
	font-size: 20px;
}
.middle-img{
    width: 100%;
    margin: 30px 0;
}
@media(max-width: 500px){
    .middle-img{
        width: 90%;
    }
}

/*Bottom-Main and Address*/
.bottom{
	padding: 25px 0px;
	width: 100%;
	display: flex;
}
@media(max-width: 500px){
    .bottom{
        flex-direction: column;
        width: 90%;
    }    
}

.bottom div{
	width: 33%;
}
@media(max-width: 500px){
    .bottom div{
        width: 100%;
        margin-bottom: 60px;
    }    
}

.bottom h2{
	margin-bottom: 15px;
}
.bottom div p{
	font-family: Tangerine;
	font-size: 20px;
}
.address{
	width: 100%;
	padding-top: 25px;
	text-align: left;
	border-top: 1px solid grey;
}
@media(max-width: 500px){
    .address{
        width: 90%;
    }
}

/*Footer*/
footer{
	text-align: center;
	margin: 50px 0px;
}

/* Services Page Specific*/

/*Header*/
header.services{
	margin: 0px 0px 30px;
	width: 100%;
	display: flex;
	justify-content: center;
}
@media(max-width: 800px){
    header.services{
        width: 90%;
    }
}

header.services img{
	width: 100%;
}

/* Intro and Main */
.intro{
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
@media(max-width: 800px){
    .intro{
        width: 90%;
    }
}

.intro h1{
	font-size: 25px;
}

.main.services{
    width: 100%;
	margin-top: 25px;
	border: 0px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
@media(max-width: 500px){
    .main.services{
        flex-direction: column;
        width: 90%;
        padding-bottom: 15px;
        margin-top: -50px;
    }
}

.main.services section{
	width: 45%;
	margin: 2%;
	padding: 15px;
	border: 1px solid black;
	background: gainsboro;
}
@media(max-width: 500px){
    .main.services section{
        width: 90%;
    }
}

section a{
	margin-top: 5px;
	border: 1px solid black;
	padding: 4px 25px;
	background: white;
	border-radius: 5%;
	color: black;
	text-decoration: none;
	font-size: 12px;
}

/* Bottom */
.bottom.services{
	width: 90%;
	display: flex;
	justify-content: space-between;
}
@media(max-width: 800px){
    .bottom.services{
        width: 90%;
    }
}

.bottom.services section{
	width: 48%;
}
@media(max-width: 800px){
    .bottom.services section{
        width: 90%;
        margin-bottom: 30px;
    }
}

.bottom.services img{
	width: 48%;
}
@media(max-width: 800px){
    .bottom.services img{
        width: 90%;
    }
}

.bottom.services p{
	margin: 10px 0;
}
.bottom.services ul li{
	line-height: 2;
	list-style: disc inside;
}